// http://www.material-ui.com/#/customization/colors

$primary1Color: #039BE5;
// $primary2Color: cyan700;
// $primary3Color: grey400;
$accent1Color: #F48FB1;
// $accent2Color: grey100;
// $accent3Color: grey500;
$textColor: white;
// $alternateTextColor: white;
// $canvasColor: white;
$borderColor: #ddd;
$disabledColor: rgba(0, 0, 0, 0.3);
// $shadowColor: fullBlack;

$backgroundColor: white;
